@tailwind base;
@tailwind components;
@tailwind utilities;


.fondo{
  background-color: #273238;
}
.oscuroCo{
  color: #273238;
}

.azulCo{
  color: #58C1E8;
}
.fondoAzul{
  background-color: #58C1E8;
}
.bordeAzul{
  border-color: #58C1E8;
}